button{
  width: 300px;
  height: 100px;
  background-color: #ff6347;
  border: 3px solid;
  border-radius: 8px;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
  margin: 0px;
}
.button{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
