.card{
    text-align: center;
    min-height: 600px;
    min-width: 400px;
    margin: 50px;
    margin-top: 20px;
    box-shadow: 10px 10px 25px black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 30px;
}
.layout{
    width: 100%;
    border-collapse: collapse;
    flex: 1; 
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.black-bar{
    background-color: black;
    border-radius: 0px 0px 8px 8px;
    height: 50px;
    bottom: 0px;
    color: aliceblue;
    font-size: 25px;
}


.name{
    font-size: 30px;
    padding: 10px;
}

.text{
    font-size: 15px;
}

.icon{
    padding-bottom: 20px;
    padding-top: 10px;
}
