body{
    margin: 0px;
}
table{
    width: 100%;
    height: 100vh ;
    border: 2px solid black;
    border-collapse: collapse;
}
tr{
    height: auto
}
td{
    width: 50%;
    border : 2px solid black;
    padding: 10px ;
    font-size: 30px ;
    text-align: center;
}
#left{
    background-color: blueviolet;
}
#right{
    background-color: palevioletred;
}